[
    {telco_stp, [
        {listeners, [
            #{
                name => northbound_sgp,
                port => 2905,
                local_ips => [{192, 0, 2, 20}, {192, 0, 2, 21}],
                backlog => 256,
                profiles => [
                    #{
                        id => msc_a,
                        remote_ips => [
                            {198, 51, 100, 10},
                            {198, 51, 100, 11}
                        ],
                        link_name_prefix => msc_a_assoc,
                        linkset => msc_a_as,
                        routing_context => [100],
                        traffic_mode => loadshare,
                        heartbeat_interval_ms => 30000,
                        heartbeat_timeout_ms => 10000,
                        heartbeat_failure_action => inactive
                    }
                ]
            }
        ]},
        {routes, [
            #{
                id => msc_a_route,
                dpc => 4321,
                mask => 16777215,
                ni => 2,
                si => [3, 5],
                priority => 10,
                traffic_mode => loadshare,
                linksets => [msc_a_as]
            }
        ]},
        {gtt_rules, [
            #{
                id => msc_a_e164,
                prefix => <<"9477">>,
                translation_type => 0,
                numbering_plan => 1,
                nature_of_address => 4,
                dpc => 4321,
                ssn => 6,
                routing_indicator => ssn
            }
        ]}
    ]}
].
