[
    {telco_stp, [
        {links, [
            #{
                name => production_m2pa_a,
                linkset => production_m2pa,
                adaptation => m2pa,
                transport => telco_stp_transport_sctp,
                point_code_variant => itu,
                sccp_variant => itu,
                sccp_reassembly => true,
                remote_hosts => [
                    {192, 0, 2, 30},
                    {192, 0, 2, 31}
                ],
                remote_port => 3565,
                local_ips => [
                    {192, 0, 2, 40},
                    {192, 0, 2, 41}
                ],
                local_port => 3565,
                m2pa_proving_ms => 500,
                m2pa_alignment_timeout_ms => 10000,
                m2pa_t7_ms => 1000,
                m2pa_max_unacked => 10000,
                m2pa_proving_filler_bytes => 0
            }
        ]},
        {routes, [
            #{
                id => production_m2pa_route,
                dpc => 4321,
                mask => 16383,
                priority => 10,
                ni => 2,
                linksets => [production_m2pa]
            }
        ]}
    ]}
].
