[
    {telco_stp, [
        {links, [
            #{
                name => production_msc_a,
                linkset => production_msc,
                transport => telco_stp_transport_sctp,
                role => asp,
                auto_activate => false,
                remote_hosts => [
                    {192, 0, 2, 10},
                    {192, 0, 2, 11}
                ],
                remote_port => 2905,
                local_ips => [
                    {192, 0, 2, 20},
                    {192, 0, 2, 21}
                ],
                local_port => 2905,
                routing_context => [100],
                traffic_mode => loadshare,
                stream => 0,
                reconnect_ms => 1000,
                connect_timeout_ms => 5000,
                heartbeat_interval_ms => 30000,
                heartbeat_timeout_ms => 10000,
                heartbeat_failure_action => inactive
            }
        ]},
        {routes, [
            #{
                id => production_msc_route,
                dpc => 4321,
                mask => 16777215,
                priority => 10,
                ni => 2,
                si => [3, 5],
                traffic_mode => loadshare,
                linksets => [production_msc]
            }
        ]}
    ]}
].
