[
    {telco_stp, [
        {links, [
            #{
                name => lab_a,
                linkset => lab_north,
                transport => telco_stp_transport_loopback,
                auto_activate => true,
                weight => 1
            },
            #{
                name => lab_b,
                linkset => lab_north,
                transport => telco_stp_transport_loopback,
                auto_activate => true,
                weight => 1
            }
        ]},
        {routes, [
            #{
                id => lab_default,
                dpc => 0,
                mask => 0,
                priority => 100,
                linksets => [lab_north]
            }
        ]},
        {gtt_rules, []},
        {gtt_max_chain_depth, 8},
        {sccp_reassembly_limits, #{
            max_contexts => 10000,
            max_context_bytes => 65536,
            max_total_bytes => 67108864,
            timeout_ms => 10000
        }},
        {rkm_policy, #{
            default_mode => disabled,
            max_registrations => 4096,
            rc_start => 10000,
            rc_end => 4294967295
        }},
        {listeners, []},
        {alarm_history_limit, 1000},
        {active_alarm_limit, 1000},
        {audit_history_limit, 10000},
        {audit_log_path, undefined},
        {management_credentials, []},
        {trace, #{
            enabled => false,
            max_packets => 10000,
            max_bytes => 67108864,
            capture_payload => true,
            header_bytes => 128
        }},
        {ha, #{
            mode => standalone,
            peers => [],
            interval_ms => 1000,
            max_staleness_ms => 10000,
            max_clock_skew_ms => 5000,
            replication_timeout_ms => 2000,
            shared_secret => undefined,
            fencing_token_sha256 => undefined,
            snapshot_path => undefined
        }},
        {overload_limits, #{
            high_watermark => 10000,
            low_watermark => 5000
        }},
        {fault_profile, #{
            drop_percent => 0,
            duplicate_percent => 0,
            delay_ms => 0
        }}
    ]}
].
